header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: var(--grayColor);
}
.LeftSectionHeader{
  width: 2%;
  margin-left: 3%;
  height: 10px;
}
.nikeLogo{
  width: 100%;

}
.rightSectionHeader{
  display: flex;
  width: 40%;
  justify-content: end;
  font-size: 5px;
  gap: 10%;
  margin-right: 2%;
}
